Invoker/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CricInfo.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CricInfo.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRanking">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ranking" nillable="true" type="tns:Ranking" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRanking" nillable="true" type="tns:ArrayOfRanking" />
  <xs:complexType name="Ranking">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ranking" nillable="true" type="tns:Ranking" />
</xs:schema>